layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab_template name="one_child" {
        children
    }
    pane_template name="cargo" {
        command "cargo"
        start_suspended true
    }

    //one_child focus=true name="Main" {
    //    pane name="Editor" edit="src/main.rs"
    //}

    tab name="Main" focus=true
    tab name="Secondary"
    tab name="Cargo" {
        pane split_direction="vertical" {
            cargo close_on_exit=false { args "run"; }
            pane split_direction="horizontal" {
                pane
                cargo { args "test"; }
            }
        }
    }
}
