$background-primary: #1E1E2E;
$background-secondary: #414868;

$foreground-primary: #CDD6F4;
$foreground-secondary: #585B70;

$black:         black;
$red:           #F38BA8;
$green:         #A6E3A1;
$yellow:        #F9E2AF;
$blue:          #89B4FA;
$magenta:       #F5C2E7;
$cyan:          #94E2D5;
$white:         #BAC2DE;
