$background-primary: #d5d6db;
$background-secondary: #9699a3;

$foreground-primary: #343b58;
$foreground-secondary: #565a6e;

$black:         #0f0f14;
$red:           #8c4351;
$green:         #33635c;
$yellow:        #8f5e15;
$blue:          #34548a;
$magenta:       #5a4a78;
$cyan:          #0f4b6e;
$white:         #343b58;
