// catppuccin mocha
$background-primary: #1E1E2E;
$background-secondary: #414868;

$foreground-primary: #CDD6F4;
$foreground-secondary: #585B70;

$black:         black;
$red:           #F38BA8;
$green:         #A6E3A1;
$yellow:        #F9E2AF;
$blue:          #89B4FA;
$magenta:       #F5C2E7;
$cyan:          #94E2D5;
$white:         #BAC2DE;

// tokyo light
// $background-primary: #d5d6db;
// $background-secondary: #9699a3;
//
// $foreground-primary: #343b58;
// $foreground-secondary: #565a6e;
//
// $black:         #0f0f14;
// $red:           #8c4351;
// $green:         #33635c;
// $yellow:        #8f5e15;
// $blue:          #34548a;
// $magenta:       #5a4a78;
// $cyan:          #0f4b6e;
// $white:         #343b58;

// tokyo night
// $background-primary: #1a1b26;
// $background-secondary: #24283b;
//
// $foreground-primary: #a9b1d6;
// $foreground-secondary: #cfc9c2;
//
// $black:         #0f0f14;
// $red:           #f7768e;
// $green:         #9ece6a;
// $yellow:        #e0af68;
// $blue:          #7aa2f7;
// $magenta:       #bb9af7;
// $cyan:          #7dcfff;
// $white:         #c0caf5;

// tokyo storm
// $background-primary: #24283b;
// $background-secondary: #414868;
//
// $foreground-primary: #a9b1d6;
// $foreground-secondary: #cfc9c2;
//
// $black:         #0f0f14;
// $red:           #f7768e;
// $green:         #9ece6a;
// $yellow:        #e0af68;
// $blue:          #7aa2f7;
// $magenta:       #bb9af7;
// $cyan:          #7dcfff;
// $white:         #c0caf5;
