@use "src/colors";

@mixin dashboard-button($color: colors.$red) {
    border-radius: 0.5em;
    color: $color;
    font-size: 2em;
    margin: 5px;

    &:hover {
        background-color: $color;
        color: colors.$background-primary;
    }

    &:active {
        background-color: colors.$background-secondary;
    }
}
