@use "defaults";

@use "src/colors";
@use "src/mixins";

.slider scale trough {
    background-color: colors.$background-secondary;
    border-radius: defaults.$border-radius;
    margin: 1em;
    min-height: 12em;
    min-width: 2em;
}

.slider scale trough highlight {
    background-color: colors.$yellow;
    border-radius: defaults.$border-radius;
}

.slider-battery scale trough highlight {
    background-color: colors.$green;
    border-radius: defaults.$border-radius;
}

.slider-brightness scale trough highlight {
    background-color: colors.$blue;
    border-radius: defaults.$border-radius;
}

.battery-button {
    @include mixins.dashboard-button($color: colors.$green);

    &:hover {
        background-color: initial;
        color: colors.$green;
    }
    &:active {
        background-color: initial;
    }
}

.brightness-button {
    @include mixins.dashboard-button($color: colors.$blue);
}

.volume-mute-button {
    @include mixins.dashboard-button($color: colors.$yellow);
}
