@use "defaults";

@use "../colors" as colors;
@use "../mixins" as mixins;

@use "drive";
@use "slider";
@use "player";

.dashboard-element {
  background-color: colors.$background-primary;
  border-right: 3px solid colors.$black;
  border-bottom: 3px solid colors.$black;
  border-radius: defaults.$border-radius;
  margin: 5px;
}

.dashboard-element-nested {
  all: unset;
}

.dashboard-label {
  font-size: 2em;
}

.dashboard-label-smaller {
  font-size: 1.5em;
}

// Circular progress bars

.dashboard-gpu {
  color: colors.$green;
}

.dashboard-cpu {
  color: colors.$cyan;
}

.dashboard-pkg {
  color: colors.$red;
}

.dashboard-ram {
  color: colors.$yellow;
}

// Power mangment buttons

.dashboard-button-suspend {
  @include mixins.dashboard-button($color: colors.$green);
  border-radius: defaults.$border-radius;
}

.dashboard-button-reboot {
  @include mixins.dashboard-button($color: colors.$blue);
  border-radius: defaults.$border-radius;
}

.dashboard-button-shutdown {
  @include mixins.dashboard-button($color: colors.$red);
  border-radius: defaults.$border-radius;
}
