@import "colors.css";

* {
  font-family: "0xProto";
  font-size: 12px;
  animation-duration: 5s;
  animation-timing-function: steps(6);
  padding: 1px 0px 1px 0px;
}

window#waybar {
  color: @foreground;
  background-color: @background;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  font-size: 18px;
}

#workspaces button {
  background-color: transparent;
  border: none;
  padding: 0;
}

#workspaces button:hover {
  border-color: transparent;
}

#workspaces button.empty {
  color: @black;
}

#workspaces button.visible {
  color: @yellow;
}

#workspaces button.active {
  color: @red;
}

#cpu, #temperature, #custom-gpu_load, #custom-gpu_temp {
  color: @red;
}

#memory, #disk {
  color: @yellow;
}

#pulseaudio, #backlight, #battery {
  color: @blue;
}

#custom-power {
    /* margin-top: 10px; */
  color: @blue;
}
