@import "colors.css";

* {
    font-family: "Comic Neue";
    font-size: 12px;
    animation-duration: 5.0s;
    animation-timing-function: steps(6);
}

window#waybar {
    background-color: @base;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    font-size: 18px;
}

#workspaces button {
    color: @text;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.empty {
    color: @surface0;
}

#workspaces button.visible {
    color: @yellow;
}

#workspaces button.active {
    color: @red;
}

#mpd {
    font-size: 15px;
    color: @text;
    background-color: transparent;
}

#privacy {
    color: @mauve;
    background-color: transparent;
}

#cpu {
    color: @red;
    background-color: transparent;
}

#temperature {
    color: @red;
    background-color: transparent;
}

#custom-gpu_load {
    color: @maroon;
    background-color: transparent;
}

#custom-gpu_temp {
    color: @maroon;
    background-color: transparent;
}

#memory {
    color: @peach;
    background-color: transparent;
}

#disk {
    color: @yellow;
    background-color: transparent;
}

#pulseaudio {
    color: @green;
    background-color: transparent;
}

#backlight {
    color: @teal;
    background-color: transparent;
}

#network {
    color: @sky;
    background-color: transparent;
}

#battery {
    color: @sapphire;
    background-color: transparent;
}

#language {
    color: @blue;
    background-color: transparent;
}

#custom-weather {
    color: @lavender;
    background-color: transparent;
}

#clock.w {
    color: @rosewater;
    background-color: transparent;
}

#clock.d {
    color: @flamingo;
    background-color: transparent;
}

#clock {
    color: @pink;
    background-color: transparent;
}

#custom-power {
    color: @mauve;
    background-color: transparent;
}
