@use "src/colors";

@mixin title($color: colors.$red) {
  background-color: $color;
  color: colors.$background-primary;
  font-size: 1.2em;
}

@mixin result($color: colors.$red) {
  background-color: colors.$background-primary;
  color: $color;
  // padding: 0.5em 0em 0.5em 0em;
}

.bar {
  background-color: colors.$background-primary;
}

.workspace-tag-mine {
  color: colors.$yellow;
}
.workspace-tag-visible {
  color: colors.$red;
}
.workspace-tag-busy {
  color: colors.$red;
}
.workspace-tag {
  color: colors.$background-secondary;
}

.bar-slider scale trough {
  background-color: colors.$background-secondary;
  border-radius: 10px;
  min-height: 10em;
  min-width: 10px;
  margin: 0.5em;
}

.bar-slider scale trough highlight {
  background-color: colors.$yellow;
  border-radius: 10px;
}

.cpu-title { @include title($color: colors.$mauve); }
.cpu-result { @include result($color: colors.$mauve); }

.ram-title { @include title($color: colors.$red); }
.ram-result { @include result($color: colors.$red); }

.storage-title { @include title($color: colors.$maroon); }
.storage-result { @include result($color: colors.$maroon); }

.music_player-title { @include title($color: colors.$maroon); }
.music_player-slider scale trough highlight { background-color: colors.$maroon; }

.volume-title { @include title($color: colors.$peach); }
.volume-slider scale trough highlight { background-color: colors.$peach; }

.brightness-title { @include title($color: colors.$yellow); }
.brightness-slider scale trough highlight { background-color: colors.$yellow; }

.net-title { @include title($color: colors.$green); }
.net-result { @include result($color: colors.$green); }

.power-title { @include title($color: colors.$teal); }
.power-result { @include result($color: colors.$teal); }

.keyboard_layout-title { @include title($color: colors.$sapphire); }

.time-title { @include title($color: colors.$blue); }
.time-result { @include result($color: colors.$blue); }

calendar {
  background-color: colors.$background-primary;
  border-radius: 15px;
  padding: 0.5em;

  &:selected {
    color: colors.$yellow;
  }

  &:indeterminate {
    color: colors.$background-secondary;
  }
}

calendar.button {
  color: colors.$background-secondary;
}

calendar.highlight {
  color: colors.$foreground-secondary;
}

.window-calendar-box {
  background-color: colors.$background-primary;
  border-right: 3px solid colors.$black;
  border-bottom: 3px solid colors.$black;
  border-radius: 15px;
  padding: 1em;
}

.calendar-title {
  font-size: 2em;
}
