@use "src/colors";
@use "src/mixins";

.workspace-tag-mine {
    color: colors.$yellow;
}
.workspace-tag-visible {
    color: colors.$red;
}
.workspace-tag-busy {
    color: colors.$red;
}
.workspace-tag {
    color: colors.$background-secondary;
}
