alacritty/*
!alacritty/alacritty.toml

fish/*
!fish/config.fish

mpd/*
!mpd/mpd.conf

ncmpcpp/*
!ncmpcpp/config

yazi/*
!yazi/yazi.toml
!yazi/keymap.toml

zathura/*
!zathura/zathurarc

zsh/zfunc/
zsh/.zcompdump
