alacritty/*
!alacritty/alacritty.toml

foot/*
!foot/foot.ini

fish/*
!fish/config.fish

mpd/*
!mpd/mpd.conf

ncmpcpp/*
!ncmpcpp/config

yazi/*
!yazi/yazi.toml
!yazi/keymap.toml

zathura/*
!zathura/zathurarc
