@use "../colors" as colors;
@use "../mixins" as mixins;

@use "calendar";
@use "wifi";
@use "workspace-tags";

.bar {
  background-color: colors.$background-primary;
}

.button-launch {
  @include mixins.bar-button();
}

.button-keyboard {
  @include mixins.bar-button();
  font-weight: bold;
}

.button-net {
  @include mixins.bar-button();
}

.button-time {
  @include mixins.bar-button($color: colors.$blue);
  font-weight: bold;
}
