@use "src/colors";

@use "src/bar/bar";

* {
    all: unset;
}

window {
    color: colors.$foreground-primary;
    font-family: "Comic Neue";
    font-weight: bold;
}

tooltip {
    background-color: colors.$background-secondary;
    color: colors.$foreground-secondary;
}

